<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Книги</title>
        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/AddBook.js"></script>
    </head>
    <body>
        <h1>Добавить новую книгу:</h1>
        <form id="addForm">
            Название:
            <input type="text" id="name" />
            <br/>
            Жанр:
            <input type="text" id="genre" />
            <br/>
            Автор:
            <input type="text" id="fio" />
            <br/>
            Год рождения:
            <input type="text" id="year" />
            <br/>
            <input type="submit" value="Сохранить" />
        </form>
    </body>
</html>