<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Жанры</title>
        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/AddGenre.js"></script>
    </head>
    <body>
        <h1>Добавить новый жанр:</h1>
        <form id="addForm">
            Жанр:
            <input type="text" id="name" />
            <input type="submit" value="Сохранить" />
        </form>
    </body>
</html>