<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Жанры</title>
        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/AllGenres.js"></script>
    </head>
    <body>
        <h1>Список жанров</h1>
        <h2>
            <a th:href="@{/genres/add}" th:method="GET">Добавить жанр</a>
        </h2>
        <table class="genres">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Название</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </body>
</html>