<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Книги</title>
        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/EditBook.js"></script>
    </head>
    <body>
        <h1>Редактировать книгу:</h1>
        <p th:text="'Номер книги: ' + ${id}"></p>
        <form id="editForm">
            <input type="hidden" id="editId" th:value="${id}"/>
            Автор:
            <input type="text" id="author"/>
            <br/>
            Название:
            <input type="text" id="name"/>
            <br/>
            Жанр:
            <input type="text" id="genreId"/>
            <br/>
            <input type="submit" value="Сохранить" />
        </form>
        <form id="deleteForm">
            <input type="hidden" id="deleteId" th:value="${id}"/>
            <input type="submit" value="Удалить" />
        </form>
    </body>
</html>